.button{
    font-size: 1.4em;
    background-color: #1bbfd4;
    border: solid 1px rgb(0, 0, 0);
    outline: none;
    color: black;
}

.button:active {
    background-color: rgb(111, 241, 224);
}

/*remove pontilhado no firefox  // uso o Crome/Edge
.button::-moz-focus-inner {
    border: 0;
}
*/
.button.double {
    grid-column: span 2;
}