.display {
    grid-column: span 2;
    background-color: rgba(0, 0, 0, 0.972);
    color: rgb(14, 199, 54);
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    font-size: 0.5em;
    overflow: hidden;
}