@font-face {
  font-family: 'RobotoMono'; 
  src: url('./fonts/RobotoMono-Thin.ttf'); 
  }

* {
  font-family: 'RobotoMono';
}

body{
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: rgb(8, 8, 8);
  background-color: #49d6cf;
}